# Ignore the .env file
.env
checklist.md
Threat-Report/
# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore the .vscode directory
.vscode/

# Ignore the node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore temporary files
tmp/